<%- include("./partials/header") %> 


<h1>Unit &nbsp;Converter</h1>
<i class="fa-solid fa-recycle"></i>
<div class="container text-center">
    <div class="row up">
        <div class="col col-lg-3"><a href="/length" class="entity btn btn-dark btn-lg"><div class="entity-text">Length</div></a></div>
        <div class="col col-lg-3"><a href="/weight" class="entity btn btn-dark btn-lg"><div class="entity-text">Weight</div></a></div>
        <div class="col col-lg-3"><a href="/temperature" class="entity btn btn-dark btn-lg"><div class="entity-text">Temperature</div></a></div>
        <div class="col col-lg-3"><a href="/speed" class="entity btn btn-dark btn-lg"><div class="entity-text">Speed</div></a></div>
    </div>
</div>


<%- include("./partials/footer") %> 